{
  "root": true,
  "extends": "@webdeveric/eslint-config-ts",
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  },
  "env": {
    "webextensions": true,
    "es6": true
  },
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "overrides": [
    {
      "files": ["./*.js"],
      "parserOptions": {
        "project": ["./tsconfig.project-files.json"]
      }
    }
  ]
}
