:root {
  --redacted-bg-color: rgba(0, 0, 0, .1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --redacted-bg-color: rgba(255, 255, 255, .1);
  }
}

.container {
  display: block;
}

.json {
  display: block;
  white-space: pre-wrap;
  background: unset;
  color: unset;
  font-size: unset;
  padding: .5em;
}

.redacted {
  background: var(--redacted-bg-color);
  text-decoration: none;
  letter-spacing: 0.1em;
}

.webhookType {
  color: #F00;
  padding: 2px;
  box-shadow: 0 0 3px #F00;
}

.propertyKey {
  color: #616DD5;
}

.propertyKeyQuote {
  color: #5966CE;
}

.anchor {}

.timestamp {
  color: #DF7BBD;
}

.arn {
  color: #E8488B;
}

.uuid {
  color: #3CAED2;
}

.statusCode {}

.statusCode100 {
  color: grey;
}

.statusCode200 {
  color: green;
}

.statusCode300 {
  color: orange;
}

.statusCode400 {
  color: orangered;
}

.statusCode500 {
  color: red;
}
