.code {
  background-color: #F7F9FB;
  display: inline-block;
  vertical-align: top;
  padding: .5em;
  line-height: 1.5;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.redacted {
  background: #000;
  color: #FFF;
  text-decoration: none;
  letter-spacing: 0.12em;
}
